@page "/"
@using Common.Interfaces
@using Common.Models
@using Common.Enums
@using Business.Classes
@using Data.Interfaces
@inject BookingProcessor bp;

<PageTitle>Car Rental Assignment - G</PageTitle>
<h1>Car Rental Assignment - G</h1>
<h4>Cars</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="bg-black text-light">RegNo</th>
            <th class="bg-black text-light">Make</th>
            <th class="bg-black text-light">Odometer</th>
            <th class="bg-black text-light">Cost Km</th>
            <th class="bg-black text-light">Vehicle Type</th>
            <th class="bg-black text-light">Cost Day</th>
            <th class="bg-black text-light">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in bp.GetVehicles())
        {
            <tr>
                <td>@car.RegNo</td>
                <td>@car.Make</td>
                <td>@car.Odometer</td>
                <td>@car.CostKm</td>
                <td>@car.VehicleType</td>
                <td>@car.CostDay</td>
                @if (car.VehicleStatus.Equals(VehicleStatus.Available) || car.VehicleStatus.Equals(VehicleStatus.Closed))
                {
                    <td><div class="badge bg-success text-wrap" style="width: 6rem">@car.VehicleStatus</div></td>
                }
                else
                {
                    <td><div class="badge bg-danger text-wrap" style="width: 6rem">@car.VehicleStatus</div></td>
                }
            </tr>
        }
    </tbody>
</table>

<h4>Bookings</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="bg-black text-light">Car</th>
            <th class="bg-black text-light">Customer</th>
            <th class="bg-black text-light">KmRented</th>
            <th class="bg-black text-light">KmReturned</th>
            <th class="bg-black text-light">Rented</th>
            <th class="bg-black text-light">Returned</th>
            <th class="bg-black text-light">Cost</th>
            <th class="bg-black text-light">VehicleStatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in bp.GetBookings())
        {
            <tr>
                <td>@book.Car.RegNo, @book.Car.Make</td>
                <td>@book.Customer.Fname, @book.Customer.Lname</td>
                <td>@book.Kmrented</td>
                @if (book.Kmreturned == 0)
                {
                    <td>@book.Kmreturned.ToString(" ")</td>
                }
                else
                {
                    <td>@book.Kmreturned</td>
                }
                <td>@book.Rented</td>
                <td>@book.Returned</td>
                @if (book.Cost == 0)
                {
                    <td>@book.Kmreturned.ToString(" ")</td>
                }
                else
                {
                    <td>@book.Cost</td>
                }
                @if (book.VehicleStatus.Equals(VehicleStatus.Available) || book.VehicleStatus.Equals(VehicleStatus.Closed))
                {
                    <td><div class="badge bg-success text-wrap" style="width: 6rem">@book.VehicleStatus</div></td>
                }
                else
                {
                    <td><div class="badge bg-danger text-wrap" style="width: 6rem">@book.VehicleStatus</div></td>
                }
            </tr>
        }
    </tbody>
</table>

<h4>Customers</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="bg-black text-light">First name</th>
            <th class="bg-black text-light">Last name</th>
            <th class="bg-black text-light">Ssn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in bp.GetCustomers())
        {
            <tr>
                <td>@customer.Fname</td>
                <td>@customer.Lname</td>
                <td>@customer.Ssn</td>
            </tr>
        }
    </tbody>
</table>